
#header {
    background-color: rgb(184, 214, 184);
}
#col0 {
    background-color: rgb(253, 95, 240);

}
#col1 {
    background-color: rgb(242, 253, 95);
    
}
#col2 {
    background-color: rgb(251, 159, 21);
    
}
#col3 {
    background-color: rgb(234, 153, 31);
    
}
#col4{
    background-color: rgb(27, 172, 240);
}
#col5{
    background-color: rgb(27, 172, 240);
}
#pie1 {
    background-color: yellow;
}
