#col1{
    background-color: aqua;
}
#col2{
    background-color: rgb(27, 119, 205);
}
#col3{
    background-color: rgb(161, 49, 217);
}
#col4{
    background-color: rgb(227, 35, 122);
}

