
#logotipo {
    background-color: rgb(153, 14, 146);
}
#inicio {
    background-color: rgb(78, 78, 99);
}
#menu {
    background-color: rgb(78,78,99);
}
#contacto{
    background-color: rgb(78,78,99);
}

#col2 {
    background-color: rgb(251, 159, 21);
    
}
#col3 {
    background-color: rgb(234, 153, 31);
    
}
#col4{
    background-color: rgb(27, 172, 240);
}
#col5{
    background-color: rgb(27, 172, 240);
}
#pie1 {
    background-color: yellow;
}
